{
  "registry-mirrors": [
      "https://vi27dh38.mirror.aliyuncs.com"
  ],
  "insecure-registries": [
      "{{ DockerRegistry }}"
  ],
  "hosts":[
    "tcp://0.0.0.0:2375",
    "unix:///var/run/docker.sock"
    ],
  "data-root": "{{ docker_data_path }}"
}