[Unit]
Description=Flanneld overlay address etcd agent
After=network.target
After=network-online.target
Wants=network-online.target
After=etcd.service

[Service]
Type=notify
ExecStart={{ flannel_bin_path }}/flanneld \
  --iface={{ ansible_default_ipv4.interface }} \
  --ip-masq \
  --etcd-endpoints={% for host in groups['etcd'] %}https://{{ hostvars[host]['ansible_host'] }}:2379{% if not loop.last %},{% endif %}{% endfor %} \
  --etcd-prefix={{ k8s_network_path }} \
  --etcd-keyfile={{ flannel_ssl_path }}/flannel-key.pem \
  --etcd-certfile={{ flannel_ssl_path }}/flannel.pem \
  --etcd-cafile={{ flannel_ssl_path }}/ca.pem

Restart=always
RestartSec=5
StartLimitInterval=0
[Install]
WantedBy=multi-user.target
