global
    log /dev/log    local0
    log /dev/log    local1 notice
    maxconn  2000
    ulimit-n  65535
    chroot /var/lib/haproxy
    stats timeout 30s

defaults
  log global
  mode  http
  option  httplog
  timeout connect 5000
  timeout client  50000
  timeout server  50000
  timeout http-request 15s
  timeout http-keep-alive 15s

frontend k8s-master
  bind {{ ansible_host }}:8443
  mode tcp
  default_backend k8s-master

backend k8s-master
  mode tcp
  option tcp-check
  balance roundrobin
  default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100n
{% for host in groups['k8s_master'] %}
  server {{ hostvars[host]['ansible_host'] }} {{ hostvars[host]['ansible_host'] }}:8443
{% endfor %}
