{
    "CN": "kubernetes",
    "hosts": [
        "127.0.0.1",
        "10.0.0.1",
        "10.0.0.2",
        "{{ keepalived_virtual_ip }}",
{% for host in groups['k8s_hosts'] %}
        "{{ hostvars[host]['ansible_host'] }}",
{% endfor %}
        "kubernetes",
        "kubernetes.default",
        "kubernetes.default.svc",
        "kubernetes.default.svc.cluster",
        "kubernetes.default.svc.cluster.local"
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "CN",
            "ST": "BeiJing",
            "L": "BeiJing",
            "O": "k8s",
            "OU": "System"
        }
    ]
}