#!/bin/bash
KUBE_CONFIG="{{ k8s_master_cfg_path }}/kube-controller-manager.kubeconfig"
KUBE_APISERVER="https://{{ ansible_host }}:8443"

{{ k8s_master_bin_path }}/kubectl config set-cluster kubernetes \
  --kubeconfig=${KUBE_CONFIG} \
  --server=${KUBE_APISERVER} \
  --certificate-authority={{ k8s_master_ssl_path }}/ca.pem \
  --embed-certs=true

{{ k8s_master_bin_path }}/kubectl config set-credentials controller-manager \
  --kubeconfig=${KUBE_CONFIG} \
  --client-certificate={{ k8s_master_ssl_path }}/kube-controller-manager.pem \
  --client-key={{ k8s_master_ssl_path }}/kube-controller-manager-key.pem \
  --embed-certs=true

{{ k8s_master_bin_path }}/kubectl config set-context controller-manager \
  --kubeconfig=${KUBE_CONFIG} \
  --cluster=kubernetes \
  --user=controller-manager

{{ k8s_master_bin_path }}/kubectl config use-context controller-manager --kubeconfig=${KUBE_CONFIG}