#!/bin/bash
KUBE_CONFIG="{{ k8s_master_cfg_path }}/kube-scheduler.kubeconfig"
KUBE_APISERVER="https://{{ keepalived_virtual_ip }}:{{ haproxy_proxy }}"

{{ k8s_master_bin_path}}/kubectl config set-cluster kubernetes \
  --kubeconfig=${KUBE_CONFIG} \
  --server=${KUBE_APISERVER} \
  --certificate-authority={{ k8s_master_ssl_path }}/ca.pem \
  --embed-certs=true

{{ k8s_master_bin_path}}/kubectl config set-credentials kube-scheduler \
  --kubeconfig=${KUBE_CONFIG} \
  --client-certificate={{ k8s_master_ssl_path }}/kube-scheduler.pem \
  --client-key={{ k8s_master_ssl_path }}/kube-scheduler-key.pem \
  --embed-certs=true

{{ k8s_master_bin_path}}/kubectl config set-context kubernetes \
  --kubeconfig=${KUBE_CONFIG} \
  --cluster=kubernetes \
  --user=kube-scheduler

{{ k8s_master_bin_path}}/kubectl config use-context --kubeconfig=${KUBE_CONFIG} kubernetes