[program:kube-scheduler]
process_name = %(program_name)s
command={{ k8s_master_bin_path }}/kube-scheduler
  --authentication-kubeconfig={{ k8s_master_cfg_path }}/kube-scheduler.kubeconfig
  --authorization-kubeconfig={{ k8s_master_cfg_path }}/kube-scheduler.kubeconfig
  --kubeconfig={{ k8s_master_cfg_path }}/kube-scheduler.kubeconfig
  --bind-address=0.0.0.0
  --secure-port={{ scheduler_port }}
  --client-ca-file={{ k8s_master_ssl_path }}/ca.pem
  --leader-elect=true
  --tls-cert-file={{ k8s_master_ssl_path }}/kube-scheduler.pem
  --tls-private-key-file={{ k8s_master_ssl_path }}/kube-scheduler-key.pem
directory={{ k8s_master_path }}
user= {{ app.user }}
startsecs=3
autostart = true
autorestart = true
stopwaitsecs = 360
stopsignal = KILL
stopasgroup = true
stdout_logfile = {{ k8s_master_logs_path }}/kube-scheduler/%(program_name)s-stdout.log
stdout_logfile_maxbytes=100MB
stdout_logfile_backups=5
stderr_logfile = {{ k8s_master_logs_path }}/kube-scheduler/%(program_name)s-stderr.log
stderr_logfile_maxbytes=100MB
stderr_logfile_backups=5