KUBE_SCHEDULER_OPTS="--logtostderr=false \
  --authentication-kubeconfig={{ k8s_master_cfg_path }}/kube-scheduler.kubeconfig \
  --authorization-kubeconfig={{ k8s_master_cfg_path }}/kube-scheduler.kubeconfig \
  --kubeconfig={{ k8s_master_cfg_path }}/kube-scheduler.kubeconfig \
  --bind-address=0.0.0.0 \
  --secure-port={{ scheduler_port }} \
  --client-ca-file={{ k8s_master_ssl_path }}/ca.pem \
  --leader-elect=true \
  --log-file={{ k8s_master_logs_path }}/kube-scheduler/kube-scheduler.log \
  --log-file-max-size=100 \
  --tls-cert-file={{ k8s_master_ssl_path }}/kube-scheduler.pem \
  --tls-private-key-file={{ k8s_master_ssl_path }}/kube-scheduler-key.pem"