#!/bin/bash
KUBE_CONFIG="{{ k8s_node_cfg_path }}/kube-proxy.kubeconfig"
KUBE_APISERVER="https://{{ ansible_host }}:8443"

{{ k8s_node_bin_path }}/kubectl config set-cluster kubernetes \
  --kubeconfig=${KUBE_CONFIG} \
  --server=${KUBE_APISERVER} \
  --certificate-authority={{ k8s_node_ssl_path }}/ca.pem \
  --embed-certs=true

{{ k8s_node_bin_path }}/kubectl config set-credentials kube-proxy \
  --kubeconfig=${KUBE_CONFIG} \
  --client-certificate={{ k8s_node_ssl_path }}/kube-proxy.pem \
  --client-key={{ k8s_node_ssl_path }}/kube-proxy-key.pem \
  --embed-certs=true

{{ k8s_node_bin_path }}/kubectl config set-context kube-proxy \
  --kubeconfig=${KUBE_CONFIG} \
  --cluster=kubernetes \
  --user=kube-proxy

{{ k8s_node_bin_path }}/kubectl config use-context kube-proxy --kubeconfig=${KUBE_CONFIG}