[Unit]
Description=Kubernetes Kubelet
After=docker.service

[Service]
EnvironmentFile={{ k8s_node_cfg_path }}/kubelet.conf
ExecStart={{ k8s_node_bin_path }}/kubelet $KUBELET_OPTS
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target