[program:kubelet]
process_name = %(program_name)s
command={{ k8s_node_bin_path }}/kube-proxy
  --logtostderr=false
  --config={{ k8s_node_cfg_path }}/kube-proxy.yaml
  --log-file={{ k8s_node_logs_path }}/kube-proxy/kube-proxy.log
  --v=2
directory={{ k8s_node_path }}
user= {{ app.user }}
startsecs=3
autostart = true
autorestart = true
stopwaitsecs = 360
stopsignal = KILL
stopasgroup = true
stdout_logfile = {{ k8s_node_logs_path }}/kube-proxy/%(program_name)s-stdout.log
stdout_logfile_maxbytes=100MB
stdout_logfile_backups=5
stderr_logfile = {{ k8s_node_logs_path }}/kube-proxy/%(program_name)s-stderr.log
stderr_logfile_maxbytes=100MB
stderr_logfile_backups=5