KUBELET_OPTS="--logtostderr=false \
  --bootstrap-kubeconfig={{ k8s_node_cfg_path }}/kubelet-bootstrap.conf \
  --cert-dir={{ k8s_node_ssl_path }} \
  --config={{ k8s_node_cfg_path }}/kubelet.yaml \
  --container-runtime=docker \
  --cgroup-driver=cgroupfs \
  --network-plugin=cni \
  --cni-bin-dir={{ app.home }}/cni/bin \
  --cni-conf-dir={{ app.home }}/cni/cfg/net.d \
  --hostname-override={{ ansible_host }} \
  --kubeconfig={{ k8s_node_cfg_path }}/kubelet.kubeconfig \
  --pod-infra-container-image={{ DockerRegistry }}/base/{{ pause_repository.split("/")[1] }} \
  --alsologtostderr=true \
  --log-file={{ k8s_node_logs_path }}/kubelet/kubelet.log \
  --log-file-max-size=100 \
  --v=2"
