# hostname
{% for host in groups['k8s_hosts'] %}
{% if loop.index == 1 %}
{{ hostvars[host]['ansible_host'] }} {{ hostvars[host]['inventory_hostname'] }} {{ DockerRegistry }}
{% else %}
{{ hostvars[host]['ansible_host'] }} {{ hostvars[host]['inventory_hostname'] }}
{% endif %}
{% endfor %}