#[Member]
{% for server in groups['etcd'] %}
{% if inventory_hostname == hostvars[server]['inventory_hostname'] %}
ETCD_NAME="etcd-{{ loop.index }}"
{% endif %}
{% endfor %}
ETCD_DATA_DIR="{{ etcd_data_path }}"
ETCD_WAL_DIR="{{ etcd_wal_path }}"
{% for server in groups['etcd'] %}
{% if inventory_hostname == hostvars[server]['inventory_hostname'] %}
ETCD_LISTEN_PEER_URLS="https://{{ hostvars[server]['ansible_host'] }}:2380"
ETCD_LISTEN_CLIENT_URLS="https://{{ hostvars[server]['ansible_host'] }}:2379"
ETCD_ENABLE_V2=true
{% endif %}
{% endfor %}

#[Clustering]
ETCD_HEARTBEAT_INTERVAL=100
ETCD_ELECTION_TIMEOUT=500
{% for server in groups['etcd'] %}
{% if inventory_hostname == hostvars[server]['inventory_hostname'] %}
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ hostvars[server]['ansible_host'] }}:2380"
ETCD_ADVERTISE_CLIENT_URLS="https://{{ hostvars[server]['ansible_host'] }}:2379"
{% endif %}
{% endfor %}
ETCD_INITIAL_CLUSTER="{% for host in groups['etcd'] %}etcd-{{ loop.index }}=https://{{ hostvars[host]['ansible_host'] }}:2380{% if not loop.last %},{% endif %}{% endfor %}"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="k8s-etcd-cluster"
ETCD_CLIENT_CERT_AUTH