[program:{{ role_name }}]
process_name = %(program_name)s
command={{ etcd_bin_path }}/etcd
  --cert-file={{ etcd_ssl_path }}/etcd.pem
  --key-file={{ etcd_ssl_path }}/etcd-key.pem
  --peer-cert-file={{ etcd_ssl_path }}/etcd.pem
  --peer-key-file={{ etcd_ssl_path }}/etcd-key.pem
  --trusted-ca-file={{ etcd_ssl_path }}/ca.pem
  --peer-trusted-ca-file={{ etcd_ssl_path }}/ca.pem
  --log-level=info
{% for server in groups['etcd'] %}
{% if inventory_hostname == hostvars[server]['inventory_hostname'] %}
  --name="etcd-{{ loop.index }}"
{% endif %}
{% endfor %}
  --data-dir="{{ etcd_data_path }}"
  --wal-dir="{{ etcd_wal_path }}"
{% for server in groups['etcd'] %}
{% if inventory_hostname == hostvars[server]['inventory_hostname'] %}
  --listen-peer-urls="https://{{ hostvars[server]['ansible_host'] }}:2380"
  --listen-client-urls="https://{{ hostvars[server]['ansible_host'] }}:2379"
  --enable-v2=true
{% endif %}
{% endfor %}
  --heartbeat-interval=100
  --election-timeout=500
{% for server in groups['etcd'] %}
{% if inventory_hostname == hostvars[server]['inventory_hostname'] %}
  --initial-advertise-peer-urls="https://{{ hostvars[server]['ansible_host'] }}:2380"
  --advertise-client-urls="https://{{ hostvars[server]['ansible_host'] }}:2379"
{% endif %}
{% endfor %}
  --initial-cluster="{% for host in groups['etcd'] %}etcd-{{ loop.index }}=https://{{ hostvars[host]['ansible_host'] }}:2380{% if not loop.last %},{% endif %}{% endfor %}"
  --initial-cluster-state="new"
  --initial-cluster-token="k8s-etcd-cluster"
  --peer-client-cert-auth=true
directory={{ etcd_home }}
user= {{ app.user }}
startsecs=3
autostart = true
autorestart = true
stopwaitsecs = 360
stopsignal = KILL
stopasgroup = true
stdout_logfile = {{ etcd_logs_path }}/%(program_name)s_stdout.log
stdout_logfile_maxbytes=100MB
stdout_logfile_backups=5
stderr_logfile = {{ etcd_logs_path }}/%(program_name)s_stderr.log
stderr_logfile_maxbytes=100MB
stderr_logfile_backups=5